.navbar {
  width: 100%;
 background-color:white;
 padding: 10px 0;

}

.navbar-container {
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 24px;

}

/* LEFT */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 70px;
}

.brand-nav {
  font-size: 18px;
  font-weight: 600;
  color: rgb(15, 14, 14);
}

.brand-green {
  color: #2FBF71;
}

/* SEARCH */
.search-container {
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  border-radius: 30px;
  padding: 6px 16px;
  width: 800px;
  border: 1px solid #e5e7eb;
}

.search {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}

.search-icon {
  width: 18px;
  margin-right: 10px;
  opacity: 0.6;
}

/* RIGHT */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-icon {
  width: 20px;
  cursor: pointer;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.username {
  font-size: 14px;
  color: #111;
}

.cart-wrapper {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: #ff3b30;
  color: white;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 50%;
  font-weight: bold;
}